In [1]:
import json
import pandas as pd  
from pandas.io.json import json_normalize

In [2]:
jsonFile = open('static/samples.json', 'r')
values = json.load(jsonFile)
jsonFile.close()

In [6]:
mynames = json_normalize(values)
mynames.head()

,names,metadata,samples
0,"[940, 941, 943, 944, 945, 946, 947, 948, 949, ...","[{'id': 940, 'ethnicity': 'Caucasian', 'gender...","[{'id': '940', 'otu_ids': [1167, 2859, 482, 22..."

In [5]:
mymetadata = json_normalize(values['metadata']) 
mymetadata.head(3)

    id              ethnicity gender   age     location bbtype  wfreq
0  940              Caucasian      F  24.0  Beaufort/NC      I    2.0
1  941  Caucasian/Midleastern      F  34.0   Chicago/IL      I    1.0
2  943              Caucasian      F  49.0     Omaha/NE      I    1.0

In [7]:
export_metadata_csv = mymetadata.to_csv (r'C:\Users\aquir\Documents\Plotly-challenge\data\metadata.csv', index = None, header=True)

In [8]:
mysamples = json_normalize(values['samples']) 
mysamples.head()

,id,otu_ids,sample_values,otu_labels
0,940,"[1167, 2859, 482, 2264, 41, 1189, 352, 189, 23...","[163, 126, 113, 78, 71, 51, 50, 47, 40, 40, 37...",[Bacteria;Bacteroidetes;Bacteroidia;Bacteroida...
1,941,"[2722, 944, 2419, 2539, 3450, 1795, 2389, 1314...","[194, 178, 162, 92, 84, 40, 37, 28, 27, 24, 21...",[Bacteria;Firmicutes;Clostridia;Clostridiales;...
2,943,[1795],[2],[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...
3,944,"[922, 3555, 943, 1013, 1795, 944, 3368, 923, 1...","[278, 33, 19, 18, 11, 8, 7, 5, 5, 5, 4, 4, 4, ...",[Bacteria;Actinobacteria;Actinobacteria;Actino...
4,945,"[944, 1795, 922, 2419, 2859, 943, 2722, 1167, ...","[274, 141, 129, 110, 40, 37, 35, 32, 26, 20, 1...",[Bacteria;Actinobacteria;Actinobacteria;Actino...

In [8]:
export_samples_csv = mysamples.to_csv (r'C:\Users\aquir\Documents\Plotly-challenge\data\samples.csv', index = None, header=True)

NameError: name 'mysamples' is not defined

In [9]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [10]:
engine = create_engine("sqlite:///bellybutton.db")

In [11]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [12]:
# We can view all of the classes that automap found
Base.classes.keys()

['metadata', 'samples']

In [13]:
# Save references to each table
Samples_Metadata = Base.classes.metadata
Samples = Base.classes.samples

In [14]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [15]:
# Display the first row's columns and data from samples table in dictionary format
first_row = session.query(Samples).first()
#automap the first row to a dict using this built-in class attribute __dict__
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1e752e2a978>,
 'otu_labels': "['Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus', 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria', 'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas', 'Bacteria', 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Proteobacteria;Epsilonproteobacteria;Campylobacterales;Campylobacteraceae;Campylobacter', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Actinomycetaceae;Varibaculum', 'Bacteria;Firmicutes;Clostridia', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria;Firmicutes;Clostridia', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae;Corynebacterium', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus', 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales', 'Bacteria;Firmicutes;Clostridia;Clostridiales;Veillonellaceae', 'Bacteria;Firmicutes;Bacilli;Bacillales;Staphylococcaceae;Staphylococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Finegoldia', 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Firmicutes;Clostridia;Clostridiales;Peptococcaceae;Peptococcus', 'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Prevotellaceae', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Gallicola', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Gallicola', 'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Prevotellaceae;Prevotella', 'Bacteria;Firmicutes;Clostridia', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;Ruminococcaceae', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Actinomycetaceae', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus', 'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales', 'Bacteria', 'Bacteria;Firmicutes', 'Bacteria', 'Bacteria', 'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas', 'Bacteria', 'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas', 'Bacteria;Firmicutes', 'Bacteria;Firmicutes', 'Bacteria;Firmicutes', 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria;Firmicutes;Clostridia', 'Bacteria;Firmicutes;Clostridia', 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria', 'Bacteria;Firmicutes;Clostridia;Clostridiales', 'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI', 'Bacteria', 'Bacteria']",
 'otu_ids': '[1167, 2859, 482, 2264, 41, 1189, 352, 189, 2318, 1977, 3450, 874, 1959, 2191, 1950, 2077, 2275, 944, 2184, 2244, 2024, 2419, 2811, 165, 2782, 2247, 2011, 2396, 830, 2964, 1795, 2722, 307, 2178, 2908, 1193, 2167, 1208, 2039, 1274, 2739, 2737, 1314, 1962, 2186, 2335, 2936, 907, 833, 2483, 2475, 2491, 2291, 159, 2571, 2350, 2342, 2546, 725, 170, 1505, 513, 259, 1169, 258, 1232, 1497, 1498, 1503, 412, 2235, 1960, 1968, 121, 2065, 340, 2110, 2188, 357, 342]',
 'id': 940,
 'sample_values': '[163, 126, 113, 78, 71, 51, 50, 47, 40, 40, 37, 36, 30, 28, 25, 23, 22, 19, 19, 14, 13, 13, 13, 12, 12, 11, 11, 11, 10, 10, 10, 8, 7, 7, 7, 6, 5, 5, 5, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]'}

In [17]:
# Design a query to retrieve all the wfreq

# wfreq Values 
Sample_values = session.query(Samples.otu_ids)[0:10]
print(Sample_values[0][0])

[1167, 2859, 482, 2264, 41, 1189, 352, 189, 2318, 1977, 3450, 874, 1959, 2191, 1950, 2077, 2275, 944, 2184, 2244, 2024, 2419, 2811, 165, 2782, 2247, 2011, 2396, 830, 2964, 1795, 2722, 307, 2178, 2908, 1193, 2167, 1208, 2039, 1274, 2739, 2737, 1314, 1962, 2186, 2335, 2936, 907, 833, 2483, 2475, 2491, 2291, 159, 2571, 2350, 2342, 2546, 725, 170, 1505, 513, 259, 1169, 258, 1232, 1497, 1498, 1503, 412, 2235, 1960, 1968, 121, 2065, 340, 2110, 2188, 357, 342]

In [22]:
first_row = session.query(Samples_Metadata).first()
#automap the first row to a dict using this built-in class attribute __dict__
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1e752e86dd8>,
 'wfreq': '2.0',
 'location': 'Beaufort/NC',
 'gender': 'F',
 'ethnicity': 'Caucasian',
 'bbtype': 'I',
 'age': 24.0,
 'id': 940}

In [25]:
# Sample Values 
wfreq_values = session.query(Samples_Metadata.wfreq).all()
print(wfreq_values)

[('2.0',), ('1.0',), ('1.0',), ('1.0',), ('1.0',), ('3.0',), ('6.0',), (None,), ('3.0',), ('5.0',), ('7.0',), ('2.0',), ('7.0',), ('7.0',), ('7.0',), ('5.0',), ('5.0',), ('7.0',), ('4.0',), ('1.0',), ('3.5',), ('7.0',), ('0.0',), ('1.0',), ('6.0',), ('7.0',), ('0.0',), ('1.0',), ('7.0',), ('1.0',), (None,), ('3.0',), (None,), ('0.0',), (None,), ('0.0',), ('6.0',), ('2.0',), ('0.0',), ('1.0',), (None,), ('7.0',), ('5.0',), ('5.0',), ('7.0',), ('7.0',), ('7.0',), ('0.0',), ('0.0',), ('3.0',), ('0.0',), ('0.0',), ('7.0',), ('7.0',), ('9.0',), (None,), ('3.0',), (None,), ('7.0',), ('7.0',), (None,), ('7.0',), (None,), ('7.0',), (None,), ('5.0',), ('0.0',), (None,), ('1.0',), (None,), ('7.0',), ('4.0',), ('5.0',), ('3.0',), ('7.0',), ('5.0',), ('5.0',), ('7.0',), (None,), (None,), ('4.0',), ('3.0',), ('0.0',), ('0.0',), ('0.0',), ('0.0',), ('3.0',), ('0.0',), ('3.0',), ('0.0',), ('0.0',), ('0.0',), ('0.0',), ('0.0',), ('7.0',), ('0.0',), ('0.0',), ('0.0',), ('0.0',), ('0.0',), ('1.0',), ('0.0',), ('7.0',), ('0.0',), ('7.0',), ('1.0',), ('0.0',), ('0.0',), ('0.0',), ('0.0',), ('0.0',), ('4.0',), ('7.0',), ('7.0',), ('1.0',), ('2.0',), ('0.0',), ('0.0',), ('0.0',), ('7.0',), ('7.0',), ('0.0',), ('7.0',), ('0.0',), ('0.0',), (None,), ('3.0',), ('1.0',), ('7.0',), ('3.0',), ('0.0',), ('0.0',), ('3.0',), ('7.0',), ('0.0',), ('3.0',), ('0.0',), ('0.0',), ('0.0',), ('0.0',), ('2.0',), ('1.0',), ('2.0',), ('0.0',), ('0.0',), ('5.0',), ('0.0',), ('0.0',), ('7.0',), ('0.0',), ('0.0',), ('2.0',), ('2.0',)]